[Unit]
Description=Google Compute Engine Guest Compat Manager
After=network-online.target syslog.service
After=network.service networking.service NetworkManager.service systemd-networkd.service

[Service]
Type=notify
ExecStart=/usr/bin/google_guest_compat_manager
Restart=always

[Install]
WantedBy=multi-user.target
