[Unit]
Description=Google Compute Engine Guest Agent Plugin Manager
# Start before sshd in order to regenerate SSH host keys.
Before=sshd.service
After=network-online.target syslog.service
After=network.service networking.service NetworkManager.service systemd-networkd.service

[Service]
Type=notify
ExecStart=/usr/bin/google_guest_agent_manager
OOMScoreAdjust=-999
Restart=always
KillMode=process

[Install]
WantedBy=sshd.service
WantedBy=multi-user.target
WantedBy=network.service networking.service NetworkManager.service systemd-networkd.service