[Unit]
Description=Google Compute Engine Guest Agent
# Start before sshd in order to regenerate SSH host keys.
Before=sshd.service
# Start after network is online and restart when network service is restarted.
#   Debian/Ubuntu 16.04: networking.service
#   SLES/EL7: network.service (SLES via wicked.service)
#   EL8: NetworkManager.service
#   COS/Ubuntu 18.04+: systemd-networkd.service
After=network-online.target syslog.service
After=network.service networking.service NetworkManager.service systemd-networkd.service
Wants=network-online.target
PartOf=network.service networking.service NetworkManager.service systemd-networkd.service

[Service]
Type=notify
ExecStart=/usr/bin/google_guest_agent
OOMScoreAdjust=-999
Restart=always

[Install]
WantedBy=sshd.service
WantedBy=multi-user.target
WantedBy=network.service networking.service NetworkManager.service systemd-networkd.service
