[Unit]
Description=Google Compute Engine Guest Agent
Before=sshd.service
After=network-online.target rsyslog.service network.service networking.service
After=NetworkManager.service
Wants=network-online.target
PartOf=network.service networking.service NetworkManager.service

[Service]
Type=simple
ExecStart=/usr/bin/google_guest_agent
OOMScoreAdjust=-999
Restart=always
StandardOutput=journal+console

[Install]
WantedBy=sshd.service
WantedBy=multi-user.target
