[Unit]
Description=Google Compute Engine Guest Agent Plugin Manager
# Ensure we start before any SSH service or keygen process begins
Before=sshd.service ssh.service sshd-keygen.target
# Wait for network and group under syslog
After=network-online.target syslog.service
Wants=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/google_guest_agent_manager
OOMScoreAdjust=-999
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target
