Source: google-guest-agent
Maintainer: Google Cloud Team <gc-team@google.com>
Section: misc
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9.20160709), dh-golang (>= 1.1), golang-go

Package: google-guest-agent
Architecture: any
Depends: ${misc:Depends}
Conflicts: python-google-compute-engine, python3-google-compute-engine
Description: Google Compute Engine Guest Agent
 Contains the guest agent and metadata script runner binaries.
