Source: google-guest-agent
Maintainer: Google Cloud Team <gc-team@google.com>
Section: devel
Testsuite: autopkgtest-pkg-go
Priority: optional
Build-Depends: debhelper-compat (= 12),
               dh-golang,
               golang-any
Standards-Version: 4.5.0
Homepage: https://github.com/GoogleCloudPlatform/guest-agent
Rules-Requires-Root: no
XS-Go-Import-Path: github.com/GoogleCloudPlatform/guest-agent

Package: google-guest-agent
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         google-compute-engine-oslogin (>= 20231004.00)
Built-Using: ${misc:Built-Using}
Breaks: gce-compute-image-packages (<< 20191115),
        python3-google-compute-engine
Replaces: gce-compute-image-packages (<< 20191115)
Description: Google Compute Engine Guest Agent
 Contains the guest agent and metadata script runner binaries.
