#!/usr/bin/make -f

export PATH := /tmp/go/bin:$(PATH)
export SHELL := env PATH=$(PATH) /bin/bash

export DH_OPTIONS
export DH_GOPKG := github.com/GoogleCloudPlatform/guest-agent
export CGO_ENABLED := 0
export GOCACHE := /tmp/.cache
export GO111MODULE := on

%:
	dh $@  --buildsystem=golang --with=golang,systemd

override_dh_auto_install:
	# Binary-only package.
	dh_auto_install -- --no-source
	install -d debian/google-guest-agent/usr/share/google-guest-agent
	install -p -m 0644 instance_configs.cfg debian/google-guest-agent/usr/share/google-guest-agent

override_dh_golang:
	# We don't use any packaged dependencies, so skip dh_golang step.

override_dh_auto_build:
	dh_auto_build -O--buildsystem=golang -- -ldflags="-s -w -X main.version=$(VERSION)" -mod=readonly

override_dh_installinit:
	dh_installinit --noscripts

override_dh_installsystemd:
	dh_installsystemd --no-stop-on-upgrade
