#!/usr/bin/make -f

export PATH := /tmp/go/bin:/usr/share/gocode/bin:$(HOME)/.local/bin:$(PATH)
export SHELL := env PATH=$(PATH) /bin/bash

export DH_OPTIONS
export DH_GOPKG := github.com/GoogleCloudPlatform/guest-agent
export CGO_ENABLED := 0
export GOCACHE := /tmp/.cache
export GOPROXY := https://proxy.golang.org
export GO111MODULE := on
export GOPATH := /usr/share/gocode
export DH_GOLANG_BUILDPKG := github.com/GoogleCloudPlatform/guest-agent/google_guest_agent github.com/GoogleCloudPlatform/guest-agent/google_metadata_script_runner github.com/GoogleCloudPlatform/guest-agent/gce_workload_cert_refresh

%:
	dh $@  --buildsystem=golang --with=golang,systemd

override_dh_auto_install:
	# Binary-only package.
	dh_auto_install -- --no-source
	install -d debian/google-guest-agent/usr/share/google-guest-agent
	sed -i "s/vlan_setup_enabled = false/vlan_setup_enabled = true/g" instance_configs.cfg
	install -p -m 0644 instance_configs.cfg debian/google-guest-agent/usr/share/google-guest-agent
	install -d debian/google-guest-agent/lib/systemd/system
	install -p -m 0644 gce-workload-cert-refresh.timer debian/google-guest-agent/lib/systemd/system/
	install -p -m 0755 google_metadata_script_runner_adapt debian/google-guest-agent/usr/bin/
	if [ -d google-guest-agent ]; then\
		install -d debian/google-guest-agent/usr/lib/google/guest_agent;\
		install -p -m 0755 google-guest-agent/cmd/gce_metadata_script_runner/gce_metadata_script_runner debian/google-guest-agent/usr/bin/gce_metadata_script_runner;\
		install -p -m 0755 google-guest-agent/cmd/google_guest_compat_manager/google_guest_compat_manager debian/google-guest-agent/usr/bin/google_guest_compat_manager;\
		install -p -m 0755 google-guest-agent/cmd/google_guest_agent/google_guest_agent debian/google-guest-agent/usr/bin/google_guest_agent_manager;\
		install -p -m 0755 google-guest-agent/cmd/ggactl/ggactl_plugin debian/google-guest-agent/usr/bin/ggactl_plugin;\
		install -p -m 0755 google-guest-agent/cmd/core_plugin/core_plugin debian/google-guest-agent/usr/lib/google/guest_agent/core_plugin;\
		install -p -m 0755 google-guest-agent/cmd/metadata_script_runner_compat/gce_compat_metadata_script_runner debian/google-guest-agent/usr/bin/gce_compat_metadata_script_runner;\
		install -d debian/google-guest-agent/usr/lib/networkd-dispatcher/routable.d;\
		install -p -m 0755 google-guest-agent/build/configs/google_guest_agent_routes_setup.sh debian/google-guest-agent/usr/lib/networkd-dispatcher/routable.d/;\
		install -d debian/google-guest-agent/etc/NetworkManager/dispatcher.d;\
		install -p -m 0755 google-guest-agent/build/configs/google_guest_agent_routes_setup.sh debian/google-guest-agent/etc/NetworkManager/dispatcher.d/;\
		install -d debian/google-guest-agent/etc/sysconfig/network/scripts;\
		install -p -m 0755 google-guest-agent/build/configs/google_guest_agent_routes_setup.sh debian/google-guest-agent/etc/sysconfig/network/scripts/;\
	fi

override_dh_golang:
	# We don't use any packaged dependencies, so skip dh_golang step.

override_dh_auto_build:
	dh_auto_build -O--buildsystem=golang -- -ldflags="-s -w -X main.version=$(VERSION)" -mod=readonly
	if [ -d google-guest-agent ]; then\
		VERSION=$(VERSION) make -C google-guest-agent cmd/google_guest_compat_manager/google_guest_compat_manager;\
		VERSION=$(VERSION) make -C google-guest-agent cmd/google_guest_agent/google_guest_agent;\
		VERSION=$(VERSION) make -C google-guest-agent cmd/ggactl/ggactl_plugin;\
		VERSION=$(VERSION) make -C google-guest-agent cmd/core_plugin/core_plugin;\
		VERSION=$(VERSION) make -C google-guest-agent cmd/gce_metadata_script_runner/gce_metadata_script_runner;\
		VERSION=$(VERSION) make -C google-guest-agent cmd/metadata_script_runner_compat/gce_compat_metadata_script_runner;\
	fi

override_dh_installinit:
	# We don't ship sysvinit files or need script changes for them.

override_dh_systemd_enable:
	install -d debian/google-guest-agent/lib/systemd/system
	install -p -m 0644 *.service debian/google-guest-agent/lib/systemd/system/
	# Don't include guest agent manager if not building with it.
	if [ ! -d google-guest-agent ]; then\
		rm -f debian/google-guest-agent/lib/systemd/system/google-guest-compat-manager.service;\
		rm -f debian/google-guest-agent/lib/systemd/system/google-guest-agent-manager.service;\
	fi
	install -d debian/google-guest-agent/lib/systemd/system-preset
	install -p -m 0644 *.preset debian/google-guest-agent/lib/systemd/system-preset/
	dh_systemd_enable google-guest-agent.service google-startup-scripts.service google-shutdown-scripts.service gce-workload-cert-refresh.timer
	if [ -d google-guest-agent ]; then\
		dh_systemd_enable google-guest-compat-manager.service;\
		dh_systemd_enable google-guest-agent-manager.service;\
	fi

override_dh_systemd_start:
	# Only perform start/stop actions for the guest agent and cert refresh timer.
	dh_systemd_start google-guest-agent.service
	dh_systemd_start gce-workload-cert-refresh.timer
	if [ -d google-guest-agent ]; then\
		dh_systemd_start google-guest-compat-manager.service;\
		dh_systemd_start google-guest-agent-manager.service;\
	fi
